body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 20px;
}

header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

main {
    border-bottom: 1px solid #ccc;
}

 {

}

footer {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

p {
    text-align: center;
    border-bottom: 0px solid #fff;
}

ul {
    padding: 0;
    border-top: 0px solid #000000;
    /* display: table;
    /* 定義 */
}

.btn {
    table-layout: fixed;
    border: 0px;
    width: 100%;
    top: 50%;
    /* 定義 */
    cursor: pointer;
}

td:hover {
    color: red;
}

#sousa {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #000000;
}

#pc_hands_area {
    text-align: center;
    width: 100%;
    height: 350px;
}

#insertacoin {
    cursor: pointer;
}

#kankin {
    display: block;
    cursor: pointer;
}